doctype html
link(rel='icon', type='image/png', href='/images/logo.png')
html
    head
      link(href='/stylesheets/caldocStyle.css', rel='stylesheet')
      title Documentación
    body
    #header
      a(href="http://localhost:3000/explore")
        img(src="/images/logo.png")
      
      h1 Documentación
    
    //-#Intructions
      h1 Señale cuales son los documentos requeridos

    #callcontainer
      each call, i in calls 
        #call
          h3 #{call.title}
          p #{call.institution}
          p límite: #{call.limited_date}
    
    #applicant
        p Solicitante
        select(name=application placeholder=placeholder id=id)
            //-each user in users
                #user
                    option #{user.name}
            option option1

    #archive
        p Archivo
        select(name=archive placeholder=placeholder id=id)
            //-each user in users
                #user
                    option #{user.name}
            option option1
    
    #caldocbox
        #label
            p M B
        #checkboxes
            input#checkboxBad(type='checkbox', name='Bad', checked=false)
            input#checkboxGood(type='checkbox', name='Good', checked=false)
            p Documento
            
    #submit
        a(href="http://localhost:3000/explore") Corregir
        button#btnSubmit(type="submit") Guardar
