doctype html
html
    head
      link(href='/stylesheets/exploreStyle.css', rel='stylesheet')
      title Explore
    body
    #header
      img(src="/images/logo.png")
      h1 Explore 
    p Esta es la lista de convocatorias existentes.
    a(href="http://localhost:3000/addcall") Agregar Convocatoria
<<<<<<< HEAD
    
    #callcontainer
      each call, i in calls 
        #call
          h3 #{call.title}
          p #{call.institution}
          p límite: #{call.limited_date}
=======
    each call, i in calls 
      #call
        h3 #{call.title}
        p #{call.institution}
        p límite: #{call.limited_date} 
>>>>>>> 2a0e0f0d80f8975ee6a427910631417e15b2be03
